* {
    margin: 0;
    padding: 0;
    font-family: Gotham Pro;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 48, 78);
    height: 10vh;
    color: rgb(224, 235, 179);
}

.main {
    background-color: rgb(19, 62, 100);
    height: 80vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.museums {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choosing {
    text-align: center;
}

.museum {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 48, 78);
    height: 10vh;
    color: rgb(142, 185, 182);
}