@font-face {
    font-family: Gotham Pro;
    src: url(../fonts/GothamPro.ttf);
}
.select {
    display:flex;
    flex-direction: column;
    position:relative;
    /*width:250px;*/
    height:40px;
    cursor: pointer;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);*/
    margin-top: 10px;
    font-size: 12px;
    font-family: Gotham Pro;
}

.option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:rgba(171, 36, 33, 0.8);
    border-top:#222 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    cursor: pointer;
    color:white;
    visibility: hidden;
}

/*.option:nth-child(2) {*/
/*    visibility: initial;*/
/*}*/

.option:hover {
    background: rgba(141, 21, 18, 0.8);
}
.select .option {
    /*pointer-events: none;*/
}
/*.select:focus .option {*/
/*    position:relative;*/
/*    pointer-events:all;*/
/*}*/
/*.select:target .option {*/
/*    position:absolute;*/
/*}*/

.label-open-list {
    z-index: 3;
    overflow: fragments;
}

.open-halls {
    position:relative;
    pointer-events:all;
    visibility: visible;
}

.open-halls .select .option {
    pointer-events: all;
}

.open-halls option {
    visibility: visible;
}
input.selectopt {
    opacity:0;
    position:absolute;
    left:-99999px;
}

input.selectopt:checked + label.option {
    order: 1;
    z-index:2;
    background:rgba(171, 36, 33, 0.8);
    border-top:none;
    position:relative;
    visibility: visible;
    pointer-events: none;
}

input.selectopt:checked + label.option:after {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;

}

label.option:before {
    pointer-events: none;
    position: absolute;
}

input.selectopt:checked + label.option:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:rgba(171, 36, 33, 0.8);
}