@media (max-width:425px) {
    .header-flex {
        max-width: 375px;
        margin-left: 20px;
    }
    .logo img {
        width: 375px
    }
    .logo-description {
        font-size: 45px;
    }
    .main {
        margin-left: 6px
    }
    .main-card img {
        max-width: 320px;
    }
    .play {
        left: 110px;
        top: 50px;
    }
    .main-card-city {
        left: 121px;
    }
}