@media (max-width:1400px) {
    .header-flex {
        max-width: 1180px;
    }
    .logo-description {
        font-size: 50px;
    }
    .main-card img {
        max-width: 320px;
    }
    .play {
        width: 100px;
        top: 50px;
        left: 110px;
    }
    .main-card-city {
        bottom: 10px;
        left: 135px;
    }
}